<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Brew Tour</title>
  <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon">
  <link href="/static/site.css" rel="stylesheet" type="text/css">
  <!-- vendor -->
  <script src="/static/lib/angular.min.js"></script>
  <script src="/static/lib/angular-resource.min.js"></script>
  <script src="/static/lib/ngStorage.min.js"></script>
  <script src="/static/lib/angular-plugins.js"></script>
  <!-- local app -->
  <script src="/static/app.js"></script>
</head>
<body ng-app="app" ng-controller="formulasCtrl">
  <nav fixedflow>
    <div class="command">
      brew uninstall <span ng-repeat="formula in formulas | filter:{checked:true}">{{formula.name}}&nbsp;</span>
    </div>
  </nav>
  <div class="hpad">
    <h3>Formulas ({{formulas.length}})</h3>
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Homepage</th>
        <th>Version</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tr ng-repeat="formula in formulas" formula="formula"></tr>
  </table>
  <div style="padding: 10px">
    <button ng-click="check_all()">Check all</button>
  </div>
</body>
