body{margin:0;padding:0;font-family:Arial,Verdana}
nav{position:fixed;background-color:#EEE;border-bottom:1px solid #BBB;padding:0 5px;width:100%;font-size:90%}
nav .command{padding:2px;font-family:monospace}
.nowrap{white-space:nowrap}
.hpad{padding:0 10px}
table{border-collapse:collapse}
table th{text-align:left;font-size:90%}
table th,table td{vertical-align:top;padding:1px 5px;border-bottom:1px solid #CCC}
table td{font-size:80%}
.summary{max-height:2.5em;overflow:hidden}